  <footer class="page-footer text-center font-small mt-4 wow fadeIn">


    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://facebook.com/Adeyemialaafin125" target="_blank">
        <i class="fab fa-facebook-f mr-3"><strong>Facebook</strong></i>
      </a>

      <a href="https://twitter.com/MDBootstrap" target="_blank">
        <i class="fab fa-twitter mr-3"><strong> Twitter</strong></i>
      </a>

      <a href="https://instagram.com/Adeyemi.adedotun.399" target="_blank">
        <i class="fab fa-instagram mr-3"><strong> Instagram</strong></i>
      </a>

      <a href="https://wa.me/09051485282?text=Adeyemi%20again" target="_blank">
        <i class="fab fa-twitter mr-3"><strong> Whatsapp</strong></i>
      </a>
    
      
    </div>
    <li class="nav-item">
      <a class="nav-link waves-effect" href="{% url 'about' %}">
        <span class="clearfix d-none d-sm-inline-block"> About </span>
      </a>
    <!-- Social icons -->
    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2023
      
    </div>
    <!--/.Copyright-->

  </footer>