{% extends 'base.html' %}
{% load static %}

{% block content %}

      
      <!--Section: Products v.3-->
      <section class="text-center mb-4 ">

        <!--Grid row-->
        <div class="product-list">
          <div class="row wow fadeIn">
            
            

            <!--Grid column-->
            {% for item in Item %}
            <div class="col-lg-2 col-md-6 mb-8 py-5">

              <!--Card-->
              <div class="card">

                <!--Card image-->
                <div class="view overlay">
                  <img src="{{item.image.url}}" height="200" width="70" class="card-img-top"
                    alt="">
                  <a href="">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!--Card image-->

                <!--Card content-->
                <div class="card-body text-center">
                  <!--Category & Title-->
                  <a href="" class="grey-text">
                    <h5>{{ item.get_category_display }}</h5>
                  </a>
                  <h5>
                    <strong>
                      <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.title }}
                      <div class="dark-grey-text">{{ item.is_featured }} </div>
                        <span class="badge badge-pill {{ item.get_label_display }}-color">NEW</span>
                      </a>
                    </strong>
                  </h5>

                  <h4 class="font-weight-bold blue-text">
                  
                    <strong>₦
                    {% if item.discount_price %}
                      {{ item.discount_price }}
                    {% else %}
                      {{ item.price }}
                    {% endif %}
                  </strong>
                  </h4>

                </div>
                <!--Card content-->

              </div>
              <!--Card-->

            </div>
            <!--Grid column-->
            {% endfor %}


          </div>
        </div>
        <!--Grid row-->
        <div class="output">
         


          
        </div>

      </section>
      <!--Section: Products v.3-->
     
      {% for i in page_obj.paginator.page_range %}
    {% if page_obj.number == i %}
          <li class="page-item active" aria-current="page">
            <span class="page-link">{{ i }}<span class="sr-only">(current)</span></span>
          </li>
          {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %} <li class="page-item"><a
              class="page-link" href="?page={{ i }}{{ query_string }}">{{ i }}</a></li>
    {% endif %}
{% endfor %}

    {% include "footer.html" %}
  </main>
  <!--Main layout-->

<!--   <script src="{% static 'js/searchField.js' %}"></script>
 -->

<script>
  ₦( function() {
    ₦( "#searchbar" ).autocomplete({
      source: '{% url 'home_page' %}',
      minLength: 2
    });
    // body...
  })
</script> 
 {% endblock content %}

